<header class="header clearfix" style="padding-bottom: 0; ">
    <nav>
        <ul class="nav nav-pills pull-right">
            <li role="#" class="active"><a href="/content/blog.html">Home</a></li>
            <li role="#"><a href="#">About</a></li>
            <li role="#"><a href="#">Careers</a></li>
            <li role="#"><a href="#">Contact</a></li>

        </ul>
    </nav>
    <a href="https://www.netcentric.biz">
        <img width="150" src="/sling-logo.png" class="pull-left"/>
    </a>
</header>