<header class="header clearfix" style="padding-bottom: 0; ">
    <nav>
        <ul class="nav nav-pills pull-right">
            <li role="#" class="active"><a href="/content/blog.html">Home</a></li>
            <li role="#"><a href="https://www.netcentric.biz/who-we-are.html">About</a></li>
            <li role="#"><a href="https://www.netcentric.biz/careers.html">Careers</a></li>
            <li role="#"><a href="https://www.netcentric.biz/contact.html">Contact</a></li>

        </ul>
    </nav>
    <a href="https://www.netcentric.biz">
        <img width="200" src="/content/library/nc-logo.png" class="pull-left"/>
    </a>
    <h3 class="text-muted">
        .biz
    </h3>
</header>