<footer class="footer">
    <div class="container row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">

            <ul class="nav nav-pills">
                <li>
                    <a href="https://github.com/Netcentric">
                        <i class="fa fa-github" aria-hidden="true"></i>
                        GitHub
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/netcentrichq">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        Twitter
                    </a>
                </li>
                <li>
                    <a href="https://www.netcentric.biz">Netcentric.biz</a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/company/netcentrichq">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                        Linkedin
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/NetcentricHQ/">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                        Facebook
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-1">

        </div>
    </div>
    <p class="pull-right">© 2016 Netcentric</p>
</footer>