<footer class="footer">
    <div class="container row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">

            <ul class="nav nav-pills">
                <li>
                    <a target="_blank" href="https://github.com/mkbrv">
                        <i class="fa fa-github" aria-hidden="true"></i>
                        GitHub
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://twitter.com/mkbrv">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        Twitter
                    </a>
                </li>
                <li>
                    <a target="_blank" href="http://www.softwareengineer.ro">SoftwareEngineer.RO</a>
                </li>
                <li>
                    <a target="_blank" href="https://www.linkedin.com/in/cseremiklos/">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                        Linkedin
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.facebook.com/mkbrv/">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                        Facebook
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-1">

        </div>
    </div>
    <p class="pull-right">© 2016</p>
</footer>